
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[TYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[BANGCAPID] [int] IDENTITY(1,1) NOT NULL,
	[TRINHDOHOCVAN] [nvarchar](max) NULL,
	[NHANVIENID] [int] NULL,
	[THOIGIAN] [date] NULL,
	[CHITIETBANGCAP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BANGCAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOHIEMXAHOI]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHIEMXAHOI](
	[BAOHIEMXAHOIID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[SOTIEN] [int] NULL,
	[NGAYNOP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BAOHIEMXAHOIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOHIEMYTE]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHIEMYTE](
	[BAOHIEMYTEID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[SOTHE] [nchar](15) NULL,
	[NGAYNOP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BAOHIEMYTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[CHAMCONGID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAY] [date] NULL,
	[LOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHAMCONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[CHUCVUID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CHUCVUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMND]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMND](
	[CMTID] [int] IDENTITY(1,1) NOT NULL,
	[SOCMT] [nchar](15) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](max) NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CMTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOITINH]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOITINH](
	[GIOITINHID] [int] NOT NULL,
	[TEN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GIOITINHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCHIEU]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCHIEU](
	[HOCHIEUID] [int] IDENTITY(1,1) NOT NULL,
	[SOHOCHIEU] [nchar](15) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](max) NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HOCHIEUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[HOPDONGLAODONGID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKY] [date] NULL,
	[LOAIHOPDONG] [nvarchar](max) NULL,
	[LUONGID] [int] NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HOPDONGLAODONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHENTHUONGKYLUAT]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONGKYLUAT](
	[KHENTHUONGKYLUATID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[HINHTHUC] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[THOIGIAN] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[KHENTHUONGKYLUATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[LUONGID] [int] IDENTITY(1,1) NOT NULL,
	[HESOLUONG] [float] NULL,
	[HESOCHUCVU] [float] NULL,
	[HESOTRACHNHIEN] [float] NULL,
	[HESOPHUCAP] [float] NULL,
	[HESOKHAC] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[LUONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[NHANVIENID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NOT NULL,
	[BIDANH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[MASOTHUE] [nchar](15) NULL,
	[GIOITINH] [int] NULL,
	[SOTKNGANHANG] [nchar](15) NULL,
	[SDT] [nchar](15) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[CHUCVUID] [int] NULL,
	[PHONGBANID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NHANVIENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[PHONGBANID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PHONGBANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUATRINHCONGTAC]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHCONGTAC](
	[QUATRINHCONGTACID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[THOIGIANBATDAU] [date] NULL,
	[THOIGIANKETTHUC] [date] NULL,
	[NOIDUNGCONGTAC] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QUATRINHCONGTACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUATRINHHOCTAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHHOCTAP](
	[QUATRINHOCTAPID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[THOIGIANBATDAU] [date] NULL,
	[THOIGIANKETTHUC] [date] NULL,
	[NOIDUNGHOCTAP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QUATRINHOCTAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[THANNHANID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[GIOITINH] [int] NULL,
	[CHUCVUID] [int] NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[THANNHANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINDANG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINDANG](
	[THONGTINDANGID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAYKETNAP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[THONGTINDANGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [TYPE]) VALUES (N'Admin', N'1', N'Admin')
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [TYPE]) VALUES (N'User', N'0', N'User')
GO
SET IDENTITY_INSERT [dbo].[BANGCAP] ON 

INSERT [dbo].[BANGCAP] ([BANGCAPID], [TRINHDOHOCVAN], [NHANVIENID], [THOIGIAN], [CHITIETBANGCAP]) VALUES (1, N'Tiến sĩ', 9, CAST(N'2010-01-01' AS Date), N'Tiến sĩ khoa học')
INSERT [dbo].[BANGCAP] ([BANGCAPID], [TRINHDOHOCVAN], [NHANVIENID], [THOIGIAN], [CHITIETBANGCAP]) VALUES (2, N'Thạc sĩ', 10, CAST(N'2012-01-01' AS Date), N'Thạc sĩ khoa học')
INSERT [dbo].[BANGCAP] ([BANGCAPID], [TRINHDOHOCVAN], [NHANVIENID], [THOIGIAN], [CHITIETBANGCAP]) VALUES (3, N'Tiến sĩ', 11, CAST(N'2013-01-01' AS Date), N'Kinh doanh cao cấp')
SET IDENTITY_INSERT [dbo].[BANGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[BAOHIEMXAHOI] ON 

INSERT [dbo].[BAOHIEMXAHOI] ([BAOHIEMXAHOIID], [NHANVIENID], [SOTIEN], [NGAYNOP]) VALUES (1, 9, 1000000, CAST(N'2018-11-22' AS Date))
INSERT [dbo].[BAOHIEMXAHOI] ([BAOHIEMXAHOIID], [NHANVIENID], [SOTIEN], [NGAYNOP]) VALUES (2, 10, 1000000, CAST(N'2018-11-22' AS Date))
INSERT [dbo].[BAOHIEMXAHOI] ([BAOHIEMXAHOIID], [NHANVIENID], [SOTIEN], [NGAYNOP]) VALUES (3, 11, 1000000, CAST(N'2018-10-22' AS Date))
SET IDENTITY_INSERT [dbo].[BAOHIEMXAHOI] OFF
GO
SET IDENTITY_INSERT [dbo].[BAOHIEMYTE] ON 

INSERT [dbo].[BAOHIEMYTE] ([BAOHIEMYTEID], [NHANVIENID], [SOTHE], [NGAYNOP]) VALUES (1, 9, N' 000           ', CAST(N'2018-11-22' AS Date))
INSERT [dbo].[BAOHIEMYTE] ([BAOHIEMYTEID], [NHANVIENID], [SOTHE], [NGAYNOP]) VALUES (2, 10, N'001            ', CAST(N'2018-11-22' AS Date))
INSERT [dbo].[BAOHIEMYTE] ([BAOHIEMYTEID], [NHANVIENID], [SOTHE], [NGAYNOP]) VALUES (3, 11, N'002            ', CAST(N'2018-11-22' AS Date))
SET IDENTITY_INSERT [dbo].[BAOHIEMYTE] OFF
GO
SET IDENTITY_INSERT [dbo].[CHAMCONG] ON 

INSERT [dbo].[CHAMCONG] ([CHAMCONGID], [NHANVIENID], [NGAY], [LOAI]) VALUES (1, 9, CAST(N'2016-01-01' AS Date), 0)
INSERT [dbo].[CHAMCONG] ([CHAMCONGID], [NHANVIENID], [NGAY], [LOAI]) VALUES (2, 9, CAST(N'2016-02-01' AS Date), 1)
INSERT [dbo].[CHAMCONG] ([CHAMCONGID], [NHANVIENID], [NGAY], [LOAI]) VALUES (3, 9, CAST(N'2016-03-01' AS Date), 0)
SET IDENTITY_INSERT [dbo].[CHAMCONG] OFF
GO
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([CHUCVUID], [TEN]) VALUES (1, N'Trưởng phòng hành chính')
INSERT [dbo].[CHUCVU] ([CHUCVUID], [TEN]) VALUES (2, N'Nhân viên hành chính')
INSERT [dbo].[CHUCVU] ([CHUCVUID], [TEN]) VALUES (3, N'Trưởng phòng kinh doanh')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
GO
INSERT [dbo].[GIOITINH] ([GIOITINHID], [TEN]) VALUES (0, N'Nữ')
INSERT [dbo].[GIOITINH] ([GIOITINHID], [TEN]) VALUES (1, N'Nam')
INSERT [dbo].[GIOITINH] ([GIOITINHID], [TEN]) VALUES (2, N'Nữ')
GO
SET IDENTITY_INSERT [dbo].[KHENTHUONGKYLUAT] ON 

INSERT [dbo].[KHENTHUONGKYLUAT] ([KHENTHUONGKYLUATID], [NHANVIENID], [HINHTHUC], [NOIDUNG], [THOIGIAN]) VALUES (1, 1, 1, N'Chiến sĩ thi đua', CAST(N'2015-11-22' AS Date))
INSERT [dbo].[KHENTHUONGKYLUAT] ([KHENTHUONGKYLUATID], [NHANVIENID], [HINHTHUC], [NOIDUNG], [THOIGIAN]) VALUES (2, 1, 1, N'Chiến sĩ thi đua', CAST(N'2016-11-22' AS Date))
INSERT [dbo].[KHENTHUONGKYLUAT] ([KHENTHUONGKYLUATID], [NHANVIENID], [HINHTHUC], [NOIDUNG], [THOIGIAN]) VALUES (3, 1, 1, N'Chiến sĩ tiên tiến', CAST(N'2018-11-22' AS Date))
SET IDENTITY_INSERT [dbo].[KHENTHUONGKYLUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [BIDANH], [DIACHI], [NGAYSINH], [MASOTHUE], [GIOITINH], [SOTKNGANHANG], [SDT], [EMAIL], [CHUCVUID], [PHONGBANID]) VALUES (1, N'Trần Thị Quỳnh Nga', N'Nga', N'HA NOI', CAST(N'2017-07-05' AS Date), N'1              ', 1, N'MBBANK         ', N'01643861996    ', N'DIAGRU2510@GMAIL.COM', NULL, NULL)
INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [BIDANH], [DIACHI], [NGAYSINH], [MASOTHUE], [GIOITINH], [SOTKNGANHANG], [SDT], [EMAIL], [CHUCVUID], [PHONGBANID]) VALUES (9, N'Nguyễn Ngọc Anh', N'Ngan', N'207', CAST(N'1997-02-28' AS Date), N'12             ', 1, N'123            ', N'0999999        ', N'ngan@gmail.com', 1, 1)
INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [BIDANH], [DIACHI], [NGAYSINH], [MASOTHUE], [GIOITINH], [SOTKNGANHANG], [SDT], [EMAIL], [CHUCVUID], [PHONGBANID]) VALUES (10, N'Nguyễn Thị Mơ', N'Mơ', N'207', CAST(N'1997-12-31' AS Date), N'12             ', 1, N'123            ', N'0999999        ', N'mo@gmail.com', 2, 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONGBAN] ON 

INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TEN]) VALUES (1, N'Phòng Hành chính')
INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TEN]) VALUES (2, N'Phòng Kinh doanh')
INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TEN]) VALUES (3, N'Phòng Kế toán')
SET IDENTITY_INSERT [dbo].[PHONGBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[QUATRINHCONGTAC] ON 

INSERT [dbo].[QUATRINHCONGTAC] ([QUATRINHCONGTACID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGCONGTAC]) VALUES (1, 1, CAST(N'2010-11-22' AS Date), CAST(N'2014-11-22' AS Date), N'học đại học')
INSERT [dbo].[QUATRINHCONGTAC] ([QUATRINHCONGTACID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGCONGTAC]) VALUES (2, 9, CAST(N'2012-01-01' AS Date), CAST(N'2018-01-01' AS Date), N'Trưởng phòng hành chính')
INSERT [dbo].[QUATRINHCONGTAC] ([QUATRINHCONGTACID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGCONGTAC]) VALUES (3, 9, CAST(N'2010-01-01' AS Date), CAST(N'2012-01-01' AS Date), N'Nhân viên hành chính')
SET IDENTITY_INSERT [dbo].[QUATRINHCONGTAC] OFF
GO
SET IDENTITY_INSERT [dbo].[QUATRINHHOCTAP] ON 

INSERT [dbo].[QUATRINHHOCTAP] ([QUATRINHOCTAPID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGHOCTAP]) VALUES (1, 9, CAST(N'2005-01-01' AS Date), CAST(N'2008-01-01' AS Date), N'Học tiểu học Xuân Lam')
INSERT [dbo].[QUATRINHHOCTAP] ([QUATRINHOCTAPID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGHOCTAP]) VALUES (2, 9, CAST(N'2008-01-01' AS Date), CAST(N'2011-01-01' AS Date), N'Học Trung  học cơ sở Xuân Lam')
INSERT [dbo].[QUATRINHHOCTAP] ([QUATRINHOCTAPID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGHOCTAP]) VALUES (3, 9, CAST(N'2011-01-01' AS Date), CAST(N'2014-01-01' AS Date), N'Học Trung học phổ thông Lam Kinh')
SET IDENTITY_INSERT [dbo].[QUATRINHHOCTAP] OFF
GO
SET IDENTITY_INSERT [dbo].[THANNHAN] ON 

INSERT [dbo].[THANNHAN] ([THANNHANID], [HOTEN], [GIOITINH], [CHUCVUID], [NHANVIENID]) VALUES (1, N'Tràn Văn An', 1, 2, 1)
INSERT [dbo].[THANNHAN] ([THANNHANID], [HOTEN], [GIOITINH], [CHUCVUID], [NHANVIENID]) VALUES (2, N'Nguyễn Văn Đạt', 1, 2, 1)
INSERT [dbo].[THANNHAN] ([THANNHANID], [HOTEN], [GIOITINH], [CHUCVUID], [NHANVIENID]) VALUES (3, N'Bùi Xuân Dân', 1, 1, 9)
SET IDENTITY_INSERT [dbo].[THANNHAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THONGTINDANG] ON 

INSERT [dbo].[THONGTINDANG] ([THONGTINDANGID], [NHANVIENID], [NGAYKETNAP]) VALUES (1, 9, CAST(N'2013-11-22' AS Date))
INSERT [dbo].[THONGTINDANG] ([THONGTINDANGID], [NHANVIENID], [NGAYKETNAP]) VALUES (2, 10, CAST(N'2013-11-22' AS Date))
SET IDENTITY_INSERT [dbo].[THONGTINDANG] OFF
GO
ALTER TABLE [dbo].[BAOHIEMXAHOI]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[BAOHIEMYTE]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[CMND]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[HOCHIEU]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD FOREIGN KEY([LUONGID])
REFERENCES [dbo].[LUONG] ([LUONGID])
GO
ALTER TABLE [dbo].[KHENTHUONGKYLUAT]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([CHUCVUID])
REFERENCES [dbo].[CHUCVU] ([CHUCVUID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([PHONGBANID])
REFERENCES [dbo].[PHONGBAN] ([PHONGBANID])
GO
ALTER TABLE [dbo].[QUATRINHCONGTAC]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[QUATRINHHOCTAP]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[THONGTINDANG]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
/****** Object:  StoredProcedure [dbo].[DELETEBANGCAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEBANGCAP]
	@IDBANGCAP INT
	AS
	BEGIN
		DELETE BANGCAP WHERE BANGCAPID = @IDBANGCAP
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEBAOHIEMXAHOI]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEBAOHIEMXAHOI]
	@IDBAOHIEM INT
	AS
	BEGIN
		DELETE BAOHIEMXAHOI WHERE BAOHIEMXAHOIID = @IDBAOHIEM
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEBAOHIEMYTE]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEBAOHIEMYTE]
	@IDBAOHIEM INT
	AS
	BEGIN
		DELETE BAOHIEMYTE WHERE BAOHIEMYTEID = @IDBAOHIEM
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETECHAMCONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETECHAMCONG]
	@CHAMCONGID INT
	AS
	BEGIN
		DELETE CHAMCONG WHERE CHAMCONGID = @CHAMCONGID
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETECHUCVU]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETECHUCVU]
	@IDCV INT
	AS
	BEGIN
		DELETE CHUCVU WHERE CHUCVUID = @IDCV
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEHOPDONGLAODONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEHOPDONGLAODONG]
	@IDHOPDONG INT
	AS
	BEGIN
		DELETE HOPDONGLAODONG WHERE HOPDONGLAODONGID = @IDHOPDONG
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEKHENTHUONGKYLUAT]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEKHENTHUONGKYLUAT]
	@IDKTKL INT
	AS
	BEGIN
		DELETE KHENTHUONGKYLUAT WHERE KHENTHUONGKYLUATID = @IDKTKL
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETENHANVIEN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETENHANVIEN]
	@NHANVIENID INT
	AS
	BEGIN
		DELETE NHANVIEN WHERE NHANVIENID = @NHANVIENID
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEPHONGBAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEPHONGBAN]
	@IDPB INT
	AS
	BEGIN
		DELETE PHONGBAN WHERE PHONGBANID = @IDPB
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEQUATRINHCONGTAC]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEQUATRINHCONGTAC]
	@IDQTCT INT
	AS
	BEGIN
		DELETE QUATRINHCONGTAC WHERE QUATRINHCONGTACID = @IDQTCT
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETEQUATRINHHOCTAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEQUATRINHHOCTAP]
	@IDQTHT INT
	AS
	BEGIN
		DELETE QUATRINHHOCTAP WHERE QUATRINHOCTAPID = @IDQTHT
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETETAISAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETETAISAN]
	@IDTAISAN INT
	AS
	BEGIN
		DELETE TAISAN WHERE TAISANID = @IDTAISAN
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETETHANNHAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETETHANNHAN]
	@IDTHANNHAN INT
	AS
	BEGIN
		DELETE THANNHAN WHERE THANNHANID = @IDTHANNHAN
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETETHONGTINDANG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETETHONGTINDANG]
	@THONGTINDANGID INT
	AS
	BEGIN
		DELETE THONGTINDANG WHERE THONGTINDANGID = @THONGTINDANGID
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTBANGCAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTBANGCAP]
	@IDNV INT, @TRINHDOHOCVAN NVARCHAR(MAX), @THOIGIAN DATE, @CHITIET NVARCHAR(MAX) 
	AS
	BEGIN
		INSERT INTO BANGCAP(NHANVIENID, TRINHDOHOCVAN, THOIGIAN, CHITIETBANGCAP ) VALUES(@IDNV, @TRINHDOHOCVAN, @THOIGIAN, @CHITIET)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTBAOHIEMXAHOI]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTBAOHIEMXAHOI]
	@IDNV INT, @SOTIEN INT, @NGAYNOP DATE
	AS
	BEGIN
		INSERT INTO BAOHIEMXAHOI(NHANVIENID, SOTIEN, NGAYNOP) VALUES(@IDNV, @SOTIEN, @NGAYNOP)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTBAOHIEMYTE]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTBAOHIEMYTE]
	@IDNV INT, @SOTHE NCHAR(15), @NGAYNOP DATE
	AS
	BEGIN
		INSERT INTO BAOHIEMYTE(NHANVIENID, SOTHE, NGAYNOP) VALUES(@IDNV, @SOTHE, @NGAYNOP)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTCHAMCONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTCHAMCONG]
	@NHANVIENID INT, @NGAY DATE, @LOAI INT
	AS
	BEGIN
		INSERT INTO CHAMCONG(NHANVIENID, NGAY, LOAI) VALUES(@NHANVIENID, @NGAY, @LOAI)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTCHUCVU]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTCHUCVU]
	@TENCV NVARCHAR(MAX)
	AS
	BEGIN
		INSERT INTO CHUCVU(TEN) VALUES(@TENCV)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTHOPDONGLAODONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTHOPDONGLAODONG]
	@IDNV INT,@LOAIHOPDONG NVARCHAR(MAX), @LOAILUONG INT, @NGAYKY DATE
	AS
	BEGIN
		INSERT INTO HOPDONGLAODONG(NHANVIENID, LOAIHOPDONG, LUONGID, NGAYKY) VALUES(@IDNV, @LOAIHOPDONG, @LOAILUONG, @NGAYKY)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTKHENTHUONGKYLUAT]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTKHENTHUONGKYLUAT]
	@IDNV INT,  @HINHTHUC INT, @NOIDUNG NVARCHAR(MAX), @THOIGIAN DATE
	AS
	BEGIN
		INSERT INTO KHENTHUONGKYLUAT(NHANVIENID, HINHTHUC, NOIDUNG, THOIGIAN) VALUES(@IDNV, @HINHTHUC, @NOIDUNG, @THOIGIAN)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTNHANVIEN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTNHANVIEN]
	@HOTEN NVARCHAR(MAX), @BIDANH NVARCHAR(MAX), @DIACHI NVARCHAR(MAX), @NGAYSINH DATE, @MASOTHUE NCHAR(15), @GIOITINH INT, @SOTKNGANHANG NCHAR(15), @SDT NCHAR(15), @EMAIL NVARCHAR(MAX), @CHUCVUID INT, @PHONGBANID INT
	AS
	BEGIN
		INSERT INTO NHANVIEN(HOTEN,BIDANH,DIACHI,NGAYSINH,MASOTHUE,GIOITINH,SOTKNGANHANG,SDT,EMAIL,CHUCVUID,PHONGBANID)
		VALUES(@HOTEN,@BIDANH,@DIACHI,@NGAYSINH,@MASOTHUE,@GIOITINH,@SOTKNGANHANG,@SDT,@EMAIL,@CHUCVUID,@PHONGBANID)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTPHONGBAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--- THEM FUNCTION TRIGGER -- 
	CREATE PROC [dbo].[INSERTPHONGBAN]
	@TENPB NVARCHAR(MAX)
	AS
	BEGIN
		INSERT INTO PHONGBAN(TEN) VALUES(@TENPB)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTQUATRINHCONGTAC]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTQUATRINHCONGTAC]
	@IDNV INT, @TGBATDAU DATE, @TGKETTHUC DATE, @NOIDUNG NVARCHAR(MAX) 
	AS
	BEGIN
		INSERT INTO QUATRINHCONGTAC(NHANVIENID, THOIGIANBATDAU, THOIGIANKETTHUC, NOIDUNGCONGTAC) VALUES(@IDNV, @TGBATDAU, @TGKETTHUC, @NOIDUNG)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTQUATRINHHOCTAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTQUATRINHHOCTAP]
	@IDNV INT, @TGBATDAU DATE, @TGKETTHUC DATE, @NOIDUNG NVARCHAR(MAX) 
	AS
	BEGIN
		INSERT INTO QUATRINHHOCTAP(NHANVIENID, THOIGIANBATDAU, THOIGIANKETTHUC, NOIDUNGHOCTAP) VALUES(@IDNV, @TGBATDAU, @TGKETTHUC, @NOIDUNG)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTTAISAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTTAISAN]
	@IDNV INT, @TEN NVARCHAR(MAX), @GHICHU NVARCHAR(MAX)
	AS
	BEGIN
		INSERT INTO TAISAN(NHANVIENID, TEN, GHICHU ) VALUES(@IDNV,@TEN, @GHICHU)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTTHANNHAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTTHANNHAN]
	@IDNHANVIEN INT, @HOTEN NVARCHAR(MAX), @GIOITINH INT, @CHUCVUID INT
	AS
	BEGIN
		INSERT INTO THANNHAN(NHANVIENID, HOTEN, GIOITINH, CHUCVUID ) VALUES(@IDNHANVIEN, @HOTEN, @GIOITINH, @CHUCVUID)
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTTHONGTINDANG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[INSERTTHONGTINDANG]
	@IDNV INT, @NGAYKETNAP DATE, @NGAYROIKHOI DATE
	AS
	BEGIN
		INSERT INTO THONGTINDANG(NHANVIENID, NGAYKETNAP, NGAYRAKHOIDANG ) VALUES(@IDNV,@NGAYKETNAP, @NGAYROIKHOI)
	END
GO
/****** Object:  StoredProcedure [dbo].[THONGKE_NGHIHUU]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[THONGKE_NGHIHUU]
	@NGAY DATE
	AS
	BEGIN
		SELECT N.HOTEN, N.GIOITINH, N.CHUCVUID, N.PHONGBANID, C.TEN AS TENCV, P.TEN AS TENPB, G.TEN AS TENGIOITINH 
		FROM NHANVIEN N, GIOITINH G, CHUCVU C, PHONGBAN P
		WHERE YEAR(@NGAY) - YEAR(N.NGAYSINH) >= 55  AND N.CHUCVUID = C.CHUCVUID AND N.GIOITINH = G.GIOITINHID AND N.PHONGBANID = P.PHONGBANID
	END
GO
/****** Object:  StoredProcedure [dbo].[THONGKE_NVMOI]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[THONGKE_NVMOI]
	@NGAY DATE
	AS
	BEGIN
		SELECT N.HOTEN, N.GIOITINH, N.CHUCVUID, N.PHONGBANID, C.TEN AS TENCV, P.TEN AS TENPB, G.TEN AS TENGIOITINH 
		FROM NHANVIEN N, GIOITINH G, CHUCVU C, PHONGBAN P
		WHERE YEAR(@NGAY) - YEAR(N.NGAYSINH) < 55  AND N.CHUCVUID = C.CHUCVUID AND N.GIOITINH = G.GIOITINHID AND N.PHONGBANID = P.PHONGBANID
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEBANGCAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEBANGCAP]
	@IDBANGCAP INT, @IDNV INT, @TRINHDOHOCVAN NVARCHAR(MAX), @THOIGIAN DATE, @CHITIET NVARCHAR(MAX) 
	AS
	BEGIN
		UPDATE BANGCAP SET NHANVIENID = @IDNV, TRINHDOHOCVAN = @TRINHDOHOCVAN, THOIGIAN = @THOIGIAN, CHITIETBANGCAP = @CHITIET
		WHERE BANGCAPID = @IDBANGCAP
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEBAOHIEMXAHOI]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEBAOHIEMXAHOI]
	@IDBAOHIEM INT, @IDNV INT, @SOTIEN INT, @NGAYNOP DATE
	AS
	BEGIN
		UPDATE BAOHIEMXAHOI SET NHANVIENID = @IDNV, SOTIEN = @SOTIEN, NGAYNOP = @NGAYNOP
		WHERE BAOHIEMXAHOIID = @IDBAOHIEM
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEBAOHIEMYTE]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEBAOHIEMYTE]
	@IDBAOHIEM INT, @IDNV INT, @SOTHE NCHAR(15), @NGAYNOP DATE
	AS
	BEGIN
		UPDATE BAOHIEMYTE SET NHANVIENID = @IDNV, SOTHE = @SOTHE, NGAYNOP = @NGAYNOP
		WHERE BAOHIEMYTEID = @IDBAOHIEM
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATECHAMCONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATECHAMCONG]
	@CHAMCONGID INT, @NHANVIENID INT, @NGAY DATE, @LOAI INT
	AS
	BEGIN
		UPDATE CHAMCONG SET NHANVIENID = @NHANVIENID, NGAY = @NGAY, LOAI = @LOAI
		WHERE CHAMCONGID = @CHAMCONGID
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATECHUCVU]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATECHUCVU]
	@IDCV INT, @TENCV NVARCHAR(MAX)
	AS
	BEGIN
		UPDATE CHUCVU SET TEN = @TENCV WHERE CHUCVUID = @IDCV
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEHOPDONGLAODONG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEHOPDONGLAODONG]
	@IDHOPDONG INT, @IDNV INT,@LOAIHOPDONG NVARCHAR(MAX), @LOAILUONG INT, @NGAYKY DATE
	AS
	BEGIN
		UPDATE HOPDONGLAODONG SET NHANVIENID = @IDNV, LOAIHOPDONG = @LOAIHOPDONG, LUONGID = @LOAILUONG, NGAYKY = @NGAYKY
		WHERE HOPDONGLAODONGID = @IDHOPDONG
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEKHENTHUONGKYLUAT]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEKHENTHUONGKYLUAT]
	@IDKTKL INT, @IDNV INT,  @HINHTHUC INT, @NOIDUNG NVARCHAR(MAX), @THOIGIAN DATE
	AS
	BEGIN
		UPDATE KHENTHUONGKYLUAT SET NHANVIENID = @IDNV, HINHTHUC = @HINHTHUC, NOIDUNG = @NOIDUNG, THOIGIAN = @THOIGIAN
		WHERE KHENTHUONGKYLUATID = @IDKTKL
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATENHANVIEN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATENHANVIEN]
	@NHANVIENID INT, @HOTEN NVARCHAR(MAX), @BIDANH NVARCHAR(MAX), @DIACHI NVARCHAR(MAX), @NGAYSINH DATE, @MASOTHUE NCHAR(15), @GIOITINH INT, @SOTKNGANHANG NCHAR(15), @SDT NCHAR(15), @EMAIL NVARCHAR(MAX), @CHUCVUID INT, @PHONGBANID INT
	AS
	BEGIN
		UPDATE NHANVIEN SET HOTEN = @HOTEN, BIDANH = @BIDANH, DIACHI = @DIACHI,
							NGAYSINH = @NGAYSINH, MASOTHUE = @MASOTHUE, GIOITINH = @GIOITINH,
							SOTKNGANHANG = @SOTKNGANHANG, SDT = @SDT, EMAIL = @EMAIL,
							CHUCVUID = @CHUCVUID, PHONGBANID = @PHONGBANID
		WHERE NHANVIENID = @NHANVIENID
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEPHONGBAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEPHONGBAN]
	@IDPB INT, @TENPB NVARCHAR(MAX)
	AS
	BEGIN
		UPDATE PHONGBAN SET TEN = @TENPB WHERE PHONGBANID = @IDPB
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEQUATRINHCONGTAC]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEQUATRINHCONGTAC]
	@IDQTCT INT, @IDNV INT, @TGBATDAU DATE, @TGKETTHUC DATE, @NOIDUNG NVARCHAR(MAX) 
	AS
	BEGIN
		UPDATE QUATRINHCONGTAC SET NHANVIENID = @IDNV, THOIGIANBATDAU = @TGBATDAU, THOIGIANKETTHUC = @TGKETTHUC, NOIDUNGCONGTAC = @NOIDUNG
		WHERE QUATRINHCONGTACID = @IDQTCT
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEQUATRINHHOCTAP]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEQUATRINHHOCTAP]
	@IDQTHT INT, @IDNV INT, @TGBATDAU DATE, @TGKETTHUC DATE, @NOIDUNG NVARCHAR(MAX) 
	AS
	BEGIN
		UPDATE QUATRINHHOCTAP SET NHANVIENID = @IDNV, THOIGIANBATDAU = @TGBATDAU, THOIGIANKETTHUC = @TGKETTHUC, NOIDUNGHOCTAP = @NOIDUNG
		WHERE QUATRINHOCTAPID = @IDQTHT
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATETAISAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATETAISAN]
	@IDTAISAN INT, @IDNV INT, @TEN NVARCHAR(MAX), @GHICHU NVARCHAR(MAX)
	AS
	BEGIN
		UPDATE TAISAN SET NHANVIENID = @IDNV, TEN = @TEN, GHICHU = @GHICHU
		WHERE TAISANID = @IDTAISAN
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATETHANNHAN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATETHANNHAN]
	@IDTHANHNHAN INT, @IDNHANVIEN INT, @HOTEN NVARCHAR(MAX), @GIOITINH INT, @CHUCVUID INT
	AS
	BEGIN
		UPDATE THANNHAN SET NHANVIENID = @IDNHANVIEN, HOTEN = @HOTEN, GIOITINH = @GIOITINH, CHUCVUID = @CHUCVUID
		WHERE THANNHANID = @IDTHANHNHAN
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATETHONGTINDANG]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATETHONGTINDANG]
	@THONGTINDANGID INT, @IDNV INT, @NGAYKETNAP DATE, @NGAYROIKHOI DATE
	AS
	BEGIN
		UPDATE THONGTINDANG SET NHANVIENID = @IDNV, NGAYKETNAP = @NGAYKETNAP, NGAYRAKHOIDANG = @NGAYROIKHOI
		WHERE THONGTINDANGID = @THONGTINDANGID
	END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 19/12/2020 8:33:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_LOGIN] 
@username VARCHAR(50) , @password VARCHAR(50)
AS
BEGIN
	SELECT * FROM ACCOUNT WHERE USERNAME = @username AND PASSWORD = @password
END
GO
